* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-size: 16px;
  }

body {
    text-align: center;
  }

header {
    background-color: rgba(255, 99, 71, .4);
    padding: 40px 200px 40px 400px;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #DC143C;
    text-transform: uppercase;
    font-size: 3rem;
}

.logo {
    color: #FFF;
    font-size: 1.88rem;
}

.logo:hover {
    color: #8B0000;
}

section {
    padding: 40px 0;
}

.make {
    background-color: rgb(255, 105, 180);
    padding-bottom: 0;
}

h2 {
    color: #8B4513;
    font-size: 2rem;
}

p {
    margin: 20px 80px;
    color: #FFF;
    font-size: 1.25rem;
}
.candling {
    background-color: rgba(255, 160, 122);
}

.cooking {
    background-color: #EE82EE;
}

.images {
    display: flex;
    justify-content: space-around;
}

.img {
    width: calc(100% / 4);
}

.pictures {
    display: flex;
    justify-content: space-around;
}

.item {
    width: calc((100% - 50px) / 5);
}

img {
    width: 100%;
    height: 100%;
}

.img img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

footer {
    background-color: #808080;
    padding: 40px 0;
}

footer a {
    color: antiquewhite;
}

footer a:hover {
    color: #00FA9A;
}

h3 {
    color: #140214;
    font-size: 1.5rem;
}

.socials__item {
    margin: 10px auto;
}

.socials__item:hover {
    scale: 2;
}